<div class="logged-in">
  <header>
    <div class="logo">
        <a href="/chat"><img src="/assets/images/logo-light.svg" alt="randm logo" /></a>
      </div>
      <div class="welcome-info">
        {{#with userLatest.currentUser}}
        Hello, {{first_name}}! 
        <i class="fa-solid fa-circle-user"></i>
        {{/with}}
        <div class="user-options">
          <ul>
            <li><button id="logout-btn">Logout</button></li>
          </ul>
        </div>
      </div>
  </header>

  <main>
    <div class="recent-chat">
        <ul id="recent-list">
        </ul>
    </div>
    <script src="/assets/js/recent.js"></script>

    <div class="current-chat">
      {{#if chatHome}}
      <div class="chat-home">
        {{#with userLatest.currentUser}}
        <button id="random-btn" data-user="{{id}}">Randomize a new chat</button>
        {{/with}}
        <script src="/assets/js/random-chat.js"></script>
      </div>
      {{else}}
      <div class="user-info">
        <p class="in-chat">You're in a chat with</p>
        {{#with userLatest.currentChatter as |user|}}
        <h2 class="chatter-name">{{user.first_name}} {{user.last_name}}</h2>
        <p class="chatter-info">{{user.pronouns}}, {{user.gender}}, {{user.sexual_preference}}</p>
        <p class="chatter-bio">{{user.bio}}</p>
        {{/with}}
      </div>
      <div class="messages">
        <ol id="chat-messages">
          {{#each messages}}
          <li class="{{get_chat_class sender_id ../userLatest.currentUser.id}}">
            <div class="message">{{message_text}}</div>
            <p class="sent-time">{{format_time created_at}}</p>
          </li>
          {{/each}}
        </ol>
      </div>

      <form class="send-message">
        <input type="text" id="message"/>
        
        {{#with userLatest.currentUser}}
        <button type="submit" id="send-message-btn" data-user="{{id}}">Send</button>
        {{/with}}
        
      </form>
      <script src="/assets/js/message.js"></script>
      <script src="/assets/js/scroll.js"></script>
      {{/if}}
    </div>
  </main>
</div>


<script src="/assets/js/logout.js"></script>