<div class="recent-chat">
    <ul>
        <li>
            <h3 class="name">{{first_name}} {{last_name}}</h3>
            <span class="latest-message">{{}}</span>
        </li>
        <li class="selected">
            <h3 class="name">{{first_name}} {{last_name}}</h3>
            <span class="latest-message">Lorem ipsum dolor sit amet.</span>
        </li>
        <li>
            <h3 class="name">{{first_name}} {{last_name}}</h3>
            <span class="latest-message">{{}}</span>
        </li>
    </ul>
</div>
<div class="current-chat">
    <div class="user-info">
        <p class="in-chat">You're in a chat with</p>
        <h2 class="chatter-name">{{first_name}} {{last_name}}</h2>
        <p class="chatter-info">{{birthday}}, {{gender}}, {{sexual_preference}}</p>
        <p class="chatter-bio">{{bio}}</p>
    </div>
</div>
<div class="messages">
    <ol>
        <li class="received">
            <div class="message">Short one</div>
            <p class="sent-time">12:52 PM</p>
        </li>
        <li class="received">
            <div class="message">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos eveniet aliquam odit fuga reprehenderit maxime aliquid ex? Sed, quasi eveniet? Voluptates similique harum laborum facere quo illum repellat temporibus nobis!</div>
            <p class="sent-time">5:52 PM</p>
        </li>
        <li class="sent">
            <div class="message">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos eveniet aliquam odit fuga reprehenderit maxime aliquid ex? Sed, quasi eveniet? Voluptates similique harum laborum facere quo illum repellat temporibus nobis!</div>
            <p class="sent-time">5:52 PM</p>
        </li>
        <li class="received">
            <div class="message">Maybe a medium length one</div>
            <p class="sent-time">6:24 PM</p>
        </li>
        <li class="sent">
            <div class="message">Here's another one from the sender</div>
            <p class="sent-time">6:27 PM</p>
        </li>
    </ol>
</div>
<form class="send-message">
    <input type="text" id="message"/>
    <button type="submit">Send</button>
</form>