<div class="recent-chat">
    <ul>
        <li>
            <h3 class="name">{{first_name}}, {{last_name}}</h3>
            <span class="latest-message">{{}}</span>
        </li>
    </ul>
</div>

<div class="current-chat">
    <div class="user-info">
        <span class="in-chat">You're in a chat with</span>
        <h2 class="chatter-name">{{first_name}} {{last_name}}</h2>
        <span class="chatter-info">{{birthday}}, {{gender}}, {{sexual_preference}}</span>
        <p class="chatter-bio">{{bio}}</p>
    </div>
</div>